<div class="modal" id="completedOrderModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">ההזמנה השולמה</h5>
            </div>
            <div class="modal-body">
                <p>ההזמנה הושלמה אפשר לראות את פרטי ההזמנה בהיסטורית הזמנות או להמשיך לקנות</p>
                <div class="d-flex flex-column">
                    <a href="/history">להיסטוריית רכישות</a>
                    <a href="/store">לקניית מוצרים</a>
                </div>
            </div>
        </div>
    </div>
</div>