.container {
  width: 540px;
}

.box {
  display: flex;
  margin-bottom: 5px;
  height: fit-content;
}

.box p {
  margin: 0;
  padding: 0;
}

.box .title {
  font-weight: bold;
  margin-inline-end: 5px;
}
