<link rel="stylesheet" href="css/index.css">

<div class="container-lg">
    <div class="title-header">
        <h1>Style4You dfgdfg</h1>
    </div>

    <div class="header">
        <img src="images/1.jpg" alt="Clothes">
    </div>

    <div class="footer">
        <h2>המוצרים הכי טובים במחירים משתלמים</h2>
        <div class="d-grid gap-2 col-5 mx-auto mb-3">
            <a class="btn btn-outline-primary" href="/store">לקטולוג המוצרים שלנו</a>
        </div>
    </div>
</div>